.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-white {
    background-color: aliceblue;
}

.bg-black {
    background-color: rgb(159, 181, 201);
}

.chess-figure {
    width: 70%;
    height: 70%;
}

.active-cell {
    background-color: bisque;
}

.debug {
    font-size: 8px;
}