* {
    margin: 0;
    padding: 0;
  }

.chess-cel {
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.bg-black {
    background-color: rgb(141, 138, 138);
}

.bg-white {
    background-color: rgb(247, 190, 190);
}

.figure-img {
    
}
.pos-y {
    width: 40px;
    height: 10px;
}   

.pos-x {
    width: 105px;
}