<!DOCTYPE html>
<html>
    <head>
        <title>Chess</title>
        <link rel="stylesheet" href="/static/chess.css" />
    </head>
<body>

<h1>Desck settings</h1>

    <form action="" method="POST">
        {% csrf_token %}
        x:<input name="x" type="text" value="8">
        y:<input name="y" type="text" value="8">
        <button type="submit">Submit</button>
    </form>


    <div class="wrapper" style="
        width: {% widthratio board|length 1 100|add:10 %}px; 
        height: {% widthratio board|length 1 100 %}px; 
    ">
    {% for x in board  %}
        <div class="pos-x">
            {{ x.0.pos_y }}
        </div>
    {% endfor %}
    
        {% for x in board  %}
            
            {% for y in x  %}
                {% if forloop.counter == 1 %}
                    <div class="pos-y">
                        {{ y.pos_y }}
                    </div>
                {% endif %}
               
                <div class="chess-cel {{ y.color }}">
                    {% if y.figure %}
                    <img class="figure-img" src="/static/images/{{ y.figure }}.png" width="100%" alt="">
                    {% endif %}
                </div>
                
            {% endfor %}

        {% endfor %}

    </div>

</body>
</html>